In [1]:
import pandas as pd

In [69]:
currensy = ('EUR_USD', 'EUR_JPY', 'EUR_CAD', 'EUR_AUD', 'AUD_USD', 'USD_CAD', 'USD_JPY')
timePeriods = ('M', 'D', 'H4')

In [70]:
i = 0
j = 0

In [86]:
df = pd.read_csv(r'Datasets/{} {}.csv'.format(currensy[i], timePeriods[j]))
j = j+1 if j<2 else 0
i = i+1 if j==0 else i
print(currensy[i], timePeriods[j])
print(df.Rejection.unique())
df.tail(125)

USD_CAD D
[nan]

                    time     Open     High      Low    Close  Rejection
71   2008-05-01 00:00:00  1.00759  1.02436  0.98215  0.99340        NaN
72   2008-06-01 00:00:00  0.99422  1.03238  0.99288  1.02037        NaN
73   2008-07-01 00:00:00  1.02037  1.02736  0.99746  1.02365        NaN
74   2008-08-01 00:00:00  1.02365  1.07286  1.02315  1.06227        NaN
75   2008-09-01 00:00:00  1.06227  1.08206  1.02984  1.06205        NaN
76   2008-10-01 00:00:00  1.06203  1.30165  1.05475  1.21200        NaN
77   2008-11-01 00:00:00  1.21030  1.29850  1.14625  1.24250        NaN
78   2008-12-01 01:00:00  1.24250  1.30076  1.18180  1.22145        NaN
79   2009-01-01 01:00:00  1.22165  1.27680  1.17613  1.22965        NaN
80   2009-02-01 01:00:00  1.22870  1.27657  1.21313  1.27657        NaN
81   2009-03-01 01:00:00  1.27532  1.30650  1.21908  1.26105        NaN
82   2009-04-01 00:00:00  1.26103  1.27175  1.18620  1.19337        NaN
83   2009-05-01 00:00:00  1.19362  1.19537  1.08915  1.09220        NaN
84   2009-06-01 00:00:00  1.09230  1.16406  1.07858  1.16229        NaN
85   2009-07-01 00:00:00  1.16227  1.17250  1.07504  1.07760        NaN
86   2009-08-01 00:00:00  1.07814  1.11252  1.06329  1.09419        NaN
87   2009-09-01 00:00:00  1.09421  1.11031  1.05920  1.06869        NaN
88   2009-10-01 00:00:00  1.06871  1.09598  1.02077  1.08444        NaN
89   2009-11-01 00:00:00  1.08474  1.08703  1.04182  1.05598        NaN
90   2009-12-01 01:00:00  1.05596  1.07470  1.03671  1.05331        NaN
91   2010-01-01 01:00:00  1.05310  1.07212  1.02252  1.06766        NaN
92   2010-02-01 01:00:00  1.06768  1.07806  1.03705  1.05128        NaN
93   2010-03-01 01:00:00  1.05126  1.05741  1.00624  1.01376        NaN
94   2010-04-01 00:00:00  1.01372  1.02154  0.99300  1.01793        NaN
95   2010-05-01 00:00:00  1.01793  1.08548  1.01008  1.04270        NaN
96   2010-06-01 00:00:00  1.04272  1.06796  1.01390  1.06326        NaN
97   2010-07-01 00:00:00  1.06328  1.06774  1.02569  1.02958        NaN
98   2010-08-01 00:00:00  1.02927  1.06734  1.01076  1.06480        NaN
99   2010-09-01 00:00:00  1.06478  1.06524  1.01917  1.03062        NaN
100  2010-10-01 00:00:00  1.03056  1.03736  0.99807  1.01822        NaN
..                   ...      ...      ...      ...      ...        ...
166  2016-04-01 00:00:00  1.29902  1.32193  1.24982  1.25542        NaN
167  2016-05-01 00:00:00  1.25584  1.31886  1.24610  1.30756        NaN
168  2016-06-01 00:00:00  1.30762  1.31443  1.26546  1.29602        NaN
169  2016-07-01 00:00:00  1.29602  1.32544  1.28316  1.30599        NaN
170  2016-08-01 00:00:00  1.30598  1.32006  1.27641  1.31108        NaN
171  2016-09-01 00:00:00  1.31109  1.32810  1.28228  1.31276        NaN
172  2016-10-01 00:00:00  1.31232  1.34338  1.30060  1.34204        NaN
173  2016-11-01 00:00:00  1.34204  1.35890  1.32647  1.34221        NaN
174  2016-12-01 01:00:00  1.34220  1.35984  1.30807  1.34423        NaN
175  2017-01-01 01:00:00  1.34458  1.34612  1.29689  1.30638        NaN
176  2017-02-01 01:00:00  1.30642  1.33202  1.29803  1.33156        NaN
177  2017-03-01 01:00:00  1.33157  1.35344  1.32639  1.33170        NaN
178  2017-04-01 00:00:00  1.33106  1.36975  1.32232  1.36425        NaN
179  2017-05-01 00:00:00  1.36426  1.37930  1.33872  1.34908        NaN
180  2017-06-01 00:00:00  1.34908  1.35470  1.29458  1.29610        NaN
181  2017-07-01 00:00:00  1.29733  1.30158  1.24137  1.25076        NaN
182  2017-08-01 00:00:00  1.25075  1.27784  1.24406  1.24749        NaN
183  2017-09-01 00:00:00  1.24750  1.25330  1.20620  1.24737        NaN
184  2017-10-01 00:00:00  1.24868  1.29172  1.24328  1.28920        NaN
185  2017-11-01 00:00:00  1.28919  1.29102  1.26658  1.28880        NaN
186  2017-12-01 01:00:00  1.28879  1.29206  1.25148  1.25799        NaN
187  2018-01-01 01:00:00  1.25412  1.25909  1.22484  1.23062        NaN
188  2018-02-01 01:00:00  1.23062  1.28450  1.22565  1.28416        NaN
189  2018-03-01 01:00:00  1.28416  1.31250  1.28032  1.28976        NaN
190  2018-04-01 00:00:00  1.28966  1.29435  1.25279  1.28326        NaN
191  2018-05-01 00:00:00  1.28326  1.30468  1.27290  1.29440        NaN
192  2018-06-01 00:00:00  1.29433  1.33870  1.28576  1.31323        NaN
193  2018-07-01 00:00:00  1.31498  1.32898  1.29813  1.30188        NaN
194  2018-08-01 00:00:00  1.30188  1.31754  1.28871  1.30429        NaN
195  2018-09-01 00:00:00  1.30803  1.32269  1.29759  1.30326        NaN

[125 rows x 6 columns]